* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ad_sps {
    margin-top: 20px;
}

.ad_sps_right {
    display: flex;
    flex-direction: row;
}

.ad_sps_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ad_sps_right button {
    border: none;
    background: rgb(47 114 197);
    color: #ffffff;
    padding: 5px 10px;
}

.ad_sps_right_ttc {
    border: solid 1px rgb(106 106 235);
    background: #ffffff;
    color: rgb(47 114 197);
    padding: 5px 20px 5px 10px;
    position: relative;
}

.ad_sps_right_ttc::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(47 114 197);
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
}

.ad_sps_right_ttc::before {
    content: "";
    width: 100%;
    height: 10px;
    top: 100%;
    right: 0;
    background: transparent;
    position: absolute;
}

.ad_sps_right_ttc_option {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 180px;
    background: #ffffff;
    box-shadow: 0 2px 2px 2px rgba(100, 100, 100, 0.3);
    transform: translateY(20px);
    transition: all linear .2s;
}

.ad_sps_right_ttc_option li {
    list-style: none;
    padding: 3px 5px;
    cursor: pointer;
    width: 100%;
}

.ad_sps_right_ttc:hover .ad_sps_right_ttc_option {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.ad_sps_right_ttc_option li:hover {
    background: blue;
    color: white;
}

.ad_sps_content_table {
    overflow-x: scroll;
    width: 100%;
}

.ad_sps_content_table table {
    border-collapse: collapse;
    width: 100%;
}

.ad_sps_content_table table th,
td {
    border: solid 1px #ccc;
    text-align: center;
}

.ad_sps_content_table table th {
    padding: 5px;
    background: #c7deeb;
}

.ad_sps_content_table table img {
    width: 100px;
    height: 100px;
}

.ad_sps_content_table table td:nth-child(3) {
    padding: 5px 0;
}

.ad_sps_left {
    font-size: 20px;
    background: rgb(231, 227, 227);
    padding: 3px 10px;
    border-radius: 5px;
}

.ad_sps_header {
    margin-bottom: 10px;
}

.ad_sps_content_table_thaotac .fa-edit {
    font-size: 25px;
    color: rgb(12 192 211);
}

.ad_sps_content_table_thaotac .fa-trash-alt {
    font-size: 25px;
    color: rgb(235 75 13);
    margin-left: 10px;
}

.ad_sps_content_table .fa-eye {
    font-size: 25px;
    color: rgb(68, 207, 4);
    cursor: pointer;
}

.ad_sps_content_table .fa-eye-slash {
    font-size: 25px;
    color: rgb(207, 61, 4);
    cursor: pointer;
}

.sp_ad_thems {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 39, 39, 0.6);
    display: none;
}

.sp_ad_them {
    position: absolute;
    width: 800px;
    height: 800px;
    background: #ffffff;
    line-height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: truotformy ease 0.8s;
    padding: 20px;
}

@keyframes truotformy {
    from {
        opacity: 0.3;
        transform: translate(-50%, -80%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.sp_ad_them .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: red;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sp_ad_them_content {
    margin-top: 14px;
}

.sp_ad_them_content .row {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
}

.sp_ad_them_content .sp_ad_them_content_title {
    width: 150px;
}

.sp_ad_them_content .row input,
select {
    flex: 1;
    padding: 0 5px;
}

#sp_ad_them_nhacc,
#sp_ad_them_loaisp {
    flex: 1;
    padding: 0 5px;
}

.sp_ad_them_content .trangthaihienthi {
    margin-left: 155px;
}

.sp_ad_them_content .trangthaihienthi div:not(:first-child) {
    margin-left: 15px;
}

#cke_sp_ad_them_content_title_txt_noi_dung {
    flex: 1;
}

.sp_ad_them_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sp_ad_them_top button {
    padding: 5px 10px;
    border: none;
    background: blue;
    color: #ffff;
    cursor: pointer;
    margin-right: 20px;
}

.sp_ad_them_top button:hover {
    color: red;
}


/*  */

.danhmuc_thongbao {
    position: fixed;
    top: 5%;
    right: 5px;
    display: flex;
    flex-direction: column;
}

.danhmuc_thongbao button {
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    box-shadow: 0 2px 2px 2px rgba(219, 60, 12, 0.3);
    background: #ffffff;
    transition: all ease-in .8s;
    color: rgb(60, 29, 202);
}


/*  */

.dm_ad_thems_excel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 39, 39, 0.6);
    display: none;
}

.dm_ad_them_excel {
    position: absolute;
    width: 1200px;
    height: 560px;
    background: #ffffff;
    line-height: 30px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: truotformy ease 0.8s;
    padding: 20px;
}

.dm_ad_them_excel .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: red;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dm_ad_them_content_excel {
    margin-top: 14px;
}

#cke_dm_ad_them_content_title_txt_noi_dung {
    flex: 1;
}

.dm_ad_them_top_excel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dm_ad_them_top_excel button {
    padding: 5px 10px;
    border: none;
    background: #00a1ff;
    color: #ffff;
    cursor: pointer;
    margin-right: 20px;
}

.dm_ad_them_top_excel button:hover {
    color: #00a1ff;
    background: #ffff;
    border: solid 1px #00a1ff;
}

.dm_ad_them_content_excel_btn_submit {
    padding: 3px 15px;
    border: solid 1px #00a1ff;
    cursor: pointer;
}

.dm_ad_them_content_excel_noidungfile {
    width: 100%;
    height: 400px;
    overflow: scroll;
    background: rgb(243 242 242);
    margin-top: 10px;
}


/*  */

.dm_ad_them_content_excel_noidungfile table {
    width: 100%;
    border-collapse: collapse;
}

.dm_ad_them_content_excel_noidungfile tr,
th,
td {
    border: solid 1px rgba(100, 100, 100, 0.3);
}

.dm_ad_them_content_excel_noidungfile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.dm_ad_them_content_excel_noidungfile table thead {
    background: #e1e1e1;
    text-align: center;
}


/*  */

.dm_ad_edits {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 39, 39, 0.6);
    display: none;
}

.dm_ad_edit {
    position: absolute;
    width: 800px;
    height: 800px;
    background: #ffffff;
    line-height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: truotformy ease 0.8s;
    padding: 20px;
}

.dm_ad_edit .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: red;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dm_ad_edit_content {
    margin-top: 14px;
}

.dm_ad_edit_content .row {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
}

.dm_ad_edit_content .dm_ad_edit_content_title {
    width: 80px;
}

.dm_ad_edit_content .row input {
    flex: 1;
    padding: 0 5px;
}

.dm_ad_edit_content .trangthaihienthi {
    margin-left: 155px;
}

.dm_ad_edit_content .trangthaihienthi div:not(:first-child) {
    margin-left: 15px;
}

#cke_dm_ad_edit_content_title_txt_noi_dung {
    flex: 1;
}

.dm_ad_edit_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dm_ad_edit_top button {
    padding: 5px 10px;
    border: none;
    background: #00a1ff;
    color: #ffff;
    cursor: pointer;
    margin-right: 20px;
}

.dm_ad_edit_top button:hover {
    color: #00a1ff;
    background: #ffff;
    border: solid 1px #00a1ff;
}

.dm_ad_edit_madm {
    border: none;
}

.dm_ad_edit_madm:active {
    border: none;
}

.dm_ad_edit_content_hadm {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.dm_ad_them_content_title_dm {
    flex: 1;
}

.dm_ad_them_content_title_dm select {
    width: 100%;
}

.dm_ad_them_content_loadimg_bao {
    flex: 1;
    height: 500px;
}

.dm_ad_them_content_loadimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dm_ad_edit_content_title_select {
    flex: 1;
}

#dm_ad_edit_content_title_chon {
    width: 100%;
}


/*  */

.sp_baiviets {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 39, 39, 0.6);
    display: none;
}

.sp_baiviet {
    position: absolute;
    width: 800px;
    height: 780px;
    line-height: 30px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: truotformy ease 0.8s;
    padding: 20px;
    overflow: scroll;
}

.sp_baiviets_hiden .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: red;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sp_baiviet_noidung {
    margin-top: 20px;
}

#dm_ad_edit_loaisanpham_chon,
#dm_ad_edit_ncc_chon {
    flex: 1;
    padding: 5px;
}

.dm_ad_edit_gianhap_hienthi {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dm_ad_edit_gianhap_hienthi div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dm_ad_edit_gianhap_hienthi div:not(:first-child) {
    margin-left: 20px;
}

.dm_ad_edit_gianhap_hienthi div input {
    margin-right: 3px;
}

.dm_ad_edit_gianhap_hienthi label {
    margin-bottom: 0;
}

#dm_ad_edit_baiviet {
    flex: 1;
}

#cke_dm_ad_edit_baiviet {
    width: 100%;
    flex: 1;
}


/*  */

.dm_ad_them_content_excel_noidungfile_body tr,
td {
    text-align: center;
}

#cke_bv_ad_edit_baiviet,
#cke_bv_ad_them_baiviet {
    flex: 1;
}

.hasp_edit_haspshow_bao {
    flex: 1;
    height: 500px;
}

.hasp_edit_haspshow {
    width: 100%;
    height: 100%;
    object-fit: cover;
}